/*폰트파일 추가!! 일단 구글 웹폰트 NOTO SANS로...*/

/*
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(stylesheets/NotoSansKR-Hestia.css);
*/

.noto {
    font-family: 'Noto Sans Korean', sans-serif;
}

body {
		font-family: 'Noto Sans Korean', sans-serif;
		line-height: 1.8;
		color: #818181;
}

img{
	float: left;
}

h2 {
		font-size: 24px;
		text-transform: uppercase;
		color: #303030;
		font-weight: 600;
		margin-bottom: 30px;
}

h3 {
	font-size: 19px;
	line-height: 1.375em;
	color: #303030;
	font-weight: 400;
	margin-bottom: 30px;
}

h4 {
		font-size: 19px;
		line-height: 1.375em;
		color: #303030;
		font-weight: 400;
		margin-bottom: 30px;
}

.header{
    background: url('../img/jumbotron.png') no-repeat center center;
    background-color: rgba(0, 0, 0, 1.0);
    background-size: 100% contain;
    min-height: 391px;
    position: relative;
}

.headerlogo{
	margin-top: 60px;
}

#main-header
{
}

.bnf-introduce1
{
		font-family: 'Noto Sans Korean', sans-serif;
		font-size: 18px;
		color: #101010;
		font-weight: 500;
		margin-bottom: 0px;
}

.bnf-introduce2
{
		font-family: 'Noto Sans Korean', sans-serif;
		font-size: 18px;
		color: #101010;
		font-weight: 300;
		margin-bottom: 0px;
}

.BNF_INTRO h1{
	margin-top: 30px;
	margin-bottom: -15px;
}

.RED{
	color: #ff0000;
}

.BNF_INTRO h2{
	font-size: 18px;
	font-weight: 700;
	color: #808080;
	text-transform: uppercase;
	margin-bottom: 35px;
}

.BNF_INTRO p{
	font-weight: 400;
	font-size: 18px;
	color: #000000;
	text-transform: none;
	margin-top: 10px;
	margin-bottom: 20px;
}

.RELEASE_TITLE{
	font-weight: 400;
	font-size: 16px;
	color: #000000;
	text-transform: none;
	margin-top: 20px;
}

.RELEASE_CONTENTS p{
	font-family: 'Noto Sans Korean', sans-serif;
	font-weight: 300;
	font-size: 13px;
	color: #000000;
	text-transform: none;
	margin-top: 20px;
}

.introduce_project h2{
	font-family: 'Noto Sans Korean', sans-serif;
	font-size: 25px;
	color: #101010;
	font-weight: 500;
	margin-bottom: 0px;
}

.banner-info
{
    padding-top: 50px;
    color: #fff;
}
.bnr-title, .bnr-sub-title
{
		font-family: 'Noto Sans Korean', sans-serif;
}

h1.bnr-title
{
    font-size: 45px;
    text-transform: uppercase;
    padding: 50px 0px;
		font-weight: 700;
    text-shadow: 1px 1px 0 black, 1px -1px 0 black, -1px 1px 0 black, -1px -1px 0 black;
}

.container-fluid h1
{
		color: #000;
    font-size: 35px;
    text-transform: uppercase;
		font-weight: 700;
}

h2.bnr-sub-title
{
    color: #fff;
    font-size: 30px;
    /*text-transform: uppercase;*/
    font-weight: 700;
}
.bnr-para
{
    font-weight: 300;
}

.overlay-detail a i{
   text-align: center;
   position: absolute;
   bottom: 25px;
   font-size: 38px;
   color: #fff;
}

.dropdown-menu{
  background-color: rgba(50, 50, 50, 0.0);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-menu a{
  color: #fff;
  font-size: 13px; !important;
  /*text-transform: uppercase;*/
  font-weight: 700;
  border: 0;
  margin-bottom: 0;
  background-color: rgba(50, 50, 50, 0.8);
}

.container-fluid {
		padding: 30px 30px;
}
.bg-grey {
		background-color: #f6f6f6;
}
.logo-small {
		color: #f4511e;
		font-size: 50px;
}
.logo {
		color: #f4511e;
		font-size: 200px;
}
.thumbnail {
		padding: 0 0 15px 0;
		border: none;
		border-radius: 0;
}
.thumbnail img {
		width: 100%;
		height: 100%;
		margin-bottom: 10px;
}
.carousel-control.right, .carousel-control.left {
		background-image: none;
		color: #f4511e;
}
.carousel-indicators li {
		border-color: #f4511e;
}
.carousel-indicators li.active {
		background-color: #f4511e;
}
.item h4 {
		font-size: 19px;
		line-height: 1.375em;
		font-weight: 400;
		font-style: italic;
		margin: 70px 0;
}


.item span {
		font-style: normal;
}
.panel {
		border: 1px solid #f4511e;
		border-radius:0 !important;
		transition: box-shadow 0.5s;
}
.panel:hover {
		box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}
.panel-footer .btn:hover {
		border: 1px solid #f4511e;
		background-color: #fff !important;
		color: #f4511e;
}
.panel-heading {
		color: #fff !important;
		background-color: #f4511e !important;
		padding: 25px;
		border-bottom: 1px solid transparent;
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
}
.panel-footer {
		background-color: white !important;
}
.panel-footer h3 {
		font-size: 32px;
}
.panel-footer h4 {
		color: #aaa;
		font-size: 14px;
}
.panel-footer .btn {
		margin: 15px 0;
		background-color: #f4511e;
		color: #fff;
}
.navbar {
		margin-bottom: 0;
		/* background-color: #646464; */
		background-color: rgba(50, 50, 50, 0.8);
		z-index: 9999;
		border: 0;
		/*font-size: 13px !important;*/
		font-size: 15px !important;
		font-weight: 300;
		line-height: 1.42857143 !important;
		letter-spacing: 1px;
		border-radius: 0;
}

.video-container {
    position:relative;
    padding-bottom:56.25%;
    padding-top:30px;

		margin: 0px, auto;
}

.video-container iframe, .video-container object, .video-container embed {
    top:0;
    left:0;
    width:100%;
    height:100%;
		max-width: 640px;
		max-height: 480px;
		position: absolute;
}

.navbar li a {
		color: #fff !important;
}

.navbar .navbar-brand {
		color: #fff !important;
}

.navbar-brand {
	/*BNFGAMES LOGO STYLE*/
	padding-top: 5px;
	margin-top: 0;
	padding-bottom: 0;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
		color: #f4511e !important;
		background-color: #fff !important;
}
.navbar-default .navbar-toggle {
		border-color: transparent;
		color: #fff !important;
}
footer .glyphicon {
		font-size: 20px;
		margin-bottom: 20px;
		color: #f4511e;
}
.slideanim {visibility:hidden;}
.slide {
		animation-name: slide;
		-webkit-animation-name: slide;
		animation-duration: 1s;
		-webkit-animation-duration: 1s;
		visibility: visible;
}

/*
*/
.blog-info h2 {
    text-transform: capitalize;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 1px;
    padding-top: 5px;
}
.blog-comment {
    margin-top: 12px;
    min-height: 30px;
}

.blog-comment p:first-child {
    float: left;
}
.blog-comment p:last-child {
    float: right;
    margin-right: 0;
}

.blog-comment p i
{
    color: #000000;
}
.read-more {
    color: #000000;
    margin-top: 15px;
    display: inline-block;
}
.blog-img
{
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
}
.blog-img img:hover {
    opacity: 1;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}
.blog-img img {
    width: 100%;
    opacity: 0.8;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}
/**/

@keyframes slide {
	0% {
		opacity: 0;
		transform: translateY(70%);
	}
	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}
@-webkit-keyframes slide {
	0% {
		opacity: 0;
		-webkit-transform: translateY(70%);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0%);
	}
}
@media screen and (max-width: 768px) {
	.col-sm-4 {
		text-align: center;
		margin: 25px 0;
	}
	.btn-lg {
			width: 100%;
			margin-bottom: 35px;
	}


}
@media screen and (max-width: 480px) {
	.logo {
			font-size: 150px;
	}
}
